{% extends 'socialmedia/partials/base.html' %}

{% block content %}
    {% if form.errors %}
        <p>
            Usuário e senha não combinam.
            Tente novamente.
        </p>
    {% else %}
        <p>Faça o login</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
{% endblock %}